body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background-color: #ccd5ff;
  /* #7cc6fe; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: auto;
  width: 60vw;
}
@media (max-width: 400px) {
  .app {
    width: fit-content !important;
  }
}
.app .question {
  width: 600px;
  margin-top: 1rem;
  padding: 3rem 1.5rem;
  margin-bottom: 1rem;
}
.question,
.score-section,
.admin {
  background-color: #4059ad;
  /* #252d4a; */
  /* width: 450px; */
  /* min-height: 200px; */
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 10px 10px 42px 0px rgba(27, 27, 27, 0.5);
  display: flex;
  justify-content: center;
  margin: auto;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}
.question-count p:last-child,
.question-count p > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 400px) {
  .question-count span {
    font-size: 1.3rem;
  }
}
.question-text {
  /* margin-bottom: 12px; */
}
/* 
.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}
.timer-text:hover {
  background: rgb(230, 153, 12);
} */

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: grid;
  flex-direction: column;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.answer-section button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #4059ad;
  border-radius: 15px;
  text-align: start;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #6b9ac4;
  cursor: pointer;
}
.correct {
  background-color: var(--success);
}

a {
  text-decoration: none;
}
.correct {
  background-color: var(--success) !important;
}

.btn {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
/* //table/ */
tbody,
table,
th,
tr,
td {
  border-radius: 20px;
}
table {
  background-color: var(--table);
  cursor: pointer;
  margin: auto;
  margin-bottom: auto !important;
}

:root {
  --primary: #4059ad;
  --table: #555e7d80;
}
.start {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
}
.number input {
  outline: none;
  color: gray;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  width: 100px;
}
.number {
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
}
.number p {
  color: grey;
}
.number button {
  width: fit-content;
}
.confirm {
  font-size: 1.5rem;
}
.confirm a {
  color: var(--success);
}
.start {
  margin: auto;
  font-size: 1.5rem;
}
.start button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
